.row-1,
.row-2 {
  margin: 1em auto;
  width: 900px;
  display: flex;
  align-items: center;
}

.dashboard,
.add-course-form,
.users-container,
.requests {
  width: 400px;
  margin: 1em auto 0 auto;
  padding: 16px;
}

.dashboard {
  height: 150px;
}

.users-container {
  height: 225px;
}

.requests {
  width: 300px;
}

.dashboard {
  background-image: linear-gradient(135deg, #f4f7f8, #edf4f8);
  border-radius: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.add-course-form,
.users-container,
.requests {
  border-radius: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
}

.add-course-form .name-input {
  border: 2px #edf4f8 solid;
  padding: 3px 6px;
  width: 200px;
  margin-bottom: 4px;
  border-radius: 10px;
}

.add-course-form .select-dep {
  background-color: #edf4f8;
  border-radius: 10px;
  width: 200px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 3px 6px;
  margin-bottom: 12px;
}

.users-container {
  margin-bottom: 3em;
  padding: 10px;
  width: 550px;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-column-gap: 18px;
}

.user-item {
  text-align: center;
  background: #edf4f8;
  padding: 8px 16px;
  margin: 4px 4px 4px 0;
  cursor: pointer;
  border-radius: 10px;
}

.user-item:hover,
.add-course-form .select-dep:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.user-item-selected {
  background: #a4aaad;
  color: white;
}

.user-list h1,
.user-details h1,
.add-course-form h1,
.dashboard h1,
.requests h1 {
  margin-bottom: 10px;
  font-size: 1.7em;
  font-weight: bold;
}

.user-details .user-link,
.requests .request-link {
  color: rgba(57, 142, 221, 1);
}

.user-details button,
.add-course-form button,
.request .remove-button,
.request .add-button {
  font-size: 0.95em;
  margin-top: 12px;
  padding: 3px 6px;
  background-color: lightpink;
  color: white;
  border-radius: 8px;
}

.add-course-form button,
.request .add-button {
  background-color: rgba(57, 142, 221, 1);
  color: white;
}

.user-details button:hover,
.request .remove-button:hover {
  background-color: rgba(255, 182, 193, 0.8);
}

.add-course-form button:hover,
.request .add-button:hover {
  background-color: rgba(57, 142, 221, 0.8);
}

.request .add-button {
  margin-right: 8px;
  margin-bottom: 32px;
}
